In [85]:
import pandas as pd
from bs4 import BeautifulSoup as bf
import requests
import os
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import Select
from datetime import datetime

In [33]:
url_2005 = 'https://en.wikipedia.org/wiki/2005_in_film'
url_2006 = 'https://en.wikipedia.org/wiki/2006_in_film'
url_2007 = 'https://en.wikipedia.org/wiki/2007_in_film'
url_2008 = 'https://en.wikipedia.org/wiki/2008_in_film'
url_2009 = 'https://en.wikipedia.org/wiki/2009_in_film'
url_2010 = 'https://en.wikipedia.org/wiki/2010_in_film'
url_2011 = 'https://en.wikipedia.org/wiki/2011_in_film'
url_2012 = 'https://en.wikipedia.org/wiki/2012_in_film'
url_2013 = 'https://en.wikipedia.org/wiki/2013_in_film'
url_2014 = 'https://en.wikipedia.org/wiki/20014_in_film'
url_2015 = 'https://en.wikipedia.org/wiki/20015_in_film'

In [34]:
total_movies = []

In [38]:
wiki_list_2005 = bf(requests.get(url_2005).text)
for  movie in wiki_list_2005.find_all('tr')[73:244]:
    try:
        total_movies.append(movie.a.text)
    except:
        pass
    
wiki_list_2006 = bf(requests.get(url_2006).text)
for  movie in wiki_list_2006.find_all('tr')[77:273]:
    try:
        total_movies.append(movie.a.text)
    except:
        pass
    
wiki_list_2007 = bf(requests.get(url_2007).text)
for  movie in wiki_list_2007.find_all('tr')[68:275]:
    try:
        total_movies.append(movie.a.text)
    except:
        pass
    
wiki_list_2008 = bf(requests.get(url_2008).text)
for  movie in wiki_list_2008.find_all('tr')[94:295]:
    try:
        total_movies.append(movie.a.text)
    except:
        pass

wiki_list_2009 = bf(requests.get(url_2009).text)
for  movie in wiki_list_2009.find_all('tr')[59:359]:
    try:
        total_movies.append(movie.a.text)
    except:
        pass
    
wiki_list_2010 = bf(requests.get(url_2010).text)
for  movie in wiki_list_2010.find_all('tr')[50:400]:
    try:
        total_movies.append(movie.a.text)
    except:
        pass
    
wiki_list_2011 = bf(requests.get(url_2011).text)
for  movie in wiki_list_2011.find_all('tr')[50:282]:
    try:
        total_movies.append(movie.a.text)
    except:
        pass
    
    
wiki_list_2012 = bf(requests.get(url_2012).text)
for  movie in wiki_list_2012.find_all('tr')[50:324]:
    try:
        total_movies.append(movie.a.text)
    except:
        pass

wiki_list_2013 = bf(requests.get(url_2013).text)
for movie in wiki_list_2013.find_all('tr')[49:318]:
    try:
        total_movies.append(movie.a.text)
    except:
        pass
    

wiki_list_2014 = bf(requests.get(url_2014).text)
for  movie in wiki_list_2014.find_all('tr')[84:367]:
    try:
        total_movies.append(movie.a.text)
    except:
        pass
    

    
wiki_list_2015 = bf(requests.get(url_2015).text, 'lxml')
for  movie in wiki_list_2015.find_all('tr')[85:421]:
    try:
        total_movies.append(movie.a.text)
    except:
        pass

In [39]:
len(total_movies)

2325

## Web Scraping The Top Movies of the Last 10 Years with Selenium

In [ ]:
#Having a Master Dictionary
dict_movie = {}

#Iterating over the urls
for i, movie in enumerate(movie_x_ratings_df.movie_titles):
    try:
        #storing the content for each movie
        dict_content = {}
        #Iterating over all the content of the movie
        for div in  urls[i].find('div', class_= 'article', id="titleDetails").find_all('div'):
            #Iterating Over Every part of the content
            try:
                #Preprosessing everyline
                process =  div.text.replace('\n', '').split(':')
                #Seperating the title and value
                key = process[0]
                content = process[1]
                #Adding the title and values in a dictionary
                dict_content[key] = content
            except:
                pass
    except:
        pass
    #Adding the content dictionary of one movie into the total dict
    dict_movie[movie] = dict_content

In [ ]:
movie_titles = []
ratings = []

for i, title in enumerate(urls):
    movie_titles.append(urls[i].title.text)
    try:
        ratings.append(int(title.find(href="criticreviews?ref_=tt_ov_rt").text.replace('\n', '').strip()))
    except:
        ratings.append('no rating')

In [52]:
#dataframe with the ratings and movie_titles
movie_x_ratings_df = pd.DataFrame(dict(movie_titles = movie_titles, ratings = ratings))
movie_x_ratings_df['movie_titles'] = [i.split(" (")[0] for i in movie_x_ratings_df.movie_titles]

In [ ]:
#Having a Master Dictionary
dict_movie = {}

#Iterating over the urls
for i, movie in enumerate(movie_x_ratings_df.movie_titles):
    try:
        #storing the content for each movie
        dict_content = {}
        #Iterating over all the content of the movie
        for div in  urls[i].find('div', class_= 'article', id="titleDetails").find_all('div'):
            #Iterating Over Every part of the content
            try:
                #Preprosessing everyline
                process =  div.text.replace('\n', '').split(':')
                #Seperating the title and value
                key = process[0]
                content = process[1]
                #Adding the title and values in a dictionary
                dict_content[key] = content
            except:
                pass
    except:
        pass
    #Adding the content dictionary of one movie into the total dict
    dict_movie[movie] = dict_content

# Cleaning to Put It in a Dataframe

In [59]:
# Getting the Gross Income
gross = []
for title in movie_x_ratings_df.movie_titles:
    try:
        gross.append(dict_movie[title]['Gross'])
    except:
        gross.append('NaN')
        
movie_x_ratings_df['gross'] = gross

def clean_gross(gross_string):
    try:
        return int(gross_string.split('(')[0].strip().replace('$', '').replace(',',''))
    except:
        return gross_string
movie_x_ratings_df['new_gross'] = movie_x_ratings_df.gross.apply(lambda x: clean_gross(x))

In [61]:
movie_x_ratings_df.head()

,movie_titles,ratings,gross
0,Vaada (2005) - IMDb,no rating,NaN
1,White Noise (2005) - IMDb,30,"$55,865,715 (USA)(18 Febr..."
2,Fetching Cody (2005) - IMDb,no rating,NaN
3,Cages (2006) - IMDb,no rating,NaN
4,Coach Carter (2005) - IMDb,57,"$67,253,092 (USA)(29 Apri..."

In [ ]:
# Ratings

def ratings_gross(ratings_string):
    try:
        return int(ratings_string)
    except:
        return ratings_string

movie_x_ratings_df['ratings'] = movie_x_ratings_df['ratings'].apply(lambda x: ratings_gross(x))
clean_data = movie_x_ratings_df[movie_x_ratings_df.ratings != 'no rating'][movie_x_ratings_df.new_gross != 'NaN']

In [ ]:
# Release Date
release_date = []
for title in movie_x_ratings_df.movie_titles:
    try:
        release_date.append(dict_movie[title]['Release Date'])
    except:
        release_date.append('NaN')
        
movie_x_ratings_df['release_date'] = release_date
release_date = []
for title in movie_x_ratings_df.movie_titles:
    try:
        release_date.append(dict_movie[title]['Release Date'])
    except:
        release_date.append('NaN')
        
movie_x_ratings_df['release_date'] = release_date
movie_x_ratings_df['new_date'] = movie_x_ratings_df['release_date'].apply(lambda x: clean_release(x).encode('ascii', 'ignore').decode('ascii'))

In [ ]:
#Opening Weekend
opening_weekend = []
for title in movie_x_ratings_df.movie_titles:
    try:
        opening_weekend.append(dict_movie[title]['Opening Weekend'])
    except:
        opening_weekend.append('NaN')
        
movie_x_ratings_df['opening_weekend'] = opening_weekend
movie_x_ratings_df['new_opening_weekend'] = movie_x_ratings_df['opening_weekend'].apply(lambda x: clean_gross(x))

In [ ]:
#Runtime
run_time = []
for title in movie_x_ratings_df.movie_titles:
    try:
        run_time.append(dict_movie[title]['Runtime'])
    except:
        run_time.append('NaN')
        
movie_x_ratings_df['run_time'] = run_time

def clean_runtime(data_string, value = False):
    if value == False:
        try:
            return int(data_string.strip().split()[0])
        except:
            return data_string
    elif value == True:
        try:
            return datetime.timedelta(minutes = int(data_string.strip().split()[0]))
        except:
            return data_string
        
movie_x_ratings_df['runtime_in_minutes'] = movie_x_ratings_df.run_time.apply(lambda x: clean_runtime(x).encode('ascii', 'ignore').decode('ascii'))

In [ ]:
# Production Companies
prod_companies = []
for title in movie_x_ratings_df.movie_titles:
    try:
        prod_companies.append(dict_movie[title]['Production Co'])
    except:
        prod_companies.append('NaN')
        
movie_x_ratings_df['production'] = prod_companies

def clean_prod_companies(string_):
    return [x.strip().encode('ascii', 'ignore').decode('ascii') for x in string_.split('S')[0].split(',')]

movie_x_ratings_df['new_production_cos'] = movie_x_ratings_df.production.apply(lambda x: clean_prod_companies(x))

In [ ]:
# RunTime

run_time = []
for title in movie_x_ratings_df.movie_titles:
    try:
        run_time.append(dict_movie[title]['Runtime'])
    except:
        run_time.append('NaN')
        
movie_x_ratings_df['run_time'] = run_time

def clean_runtime(data_string, value = False):
    if value == False:
        try:
            return int(data_string.strip().split()[0])
        except:
            return data_string
    elif value == True:
        try:
            return datetime.timedelta(minutes = int(data_string.strip().split()[0]))
        except:
            return data_string
        
movie_x_ratings_df['runtime_in_minutes'] = movie_x_ratings_df.run_time.apply(lambda x: clean_runtime(x))

In [ ]:
final_file = movie_x_ratings_df[['movie_titles', 
                                 'ratings',
                                 'new_gross', 
                                 'release_date', 
                                 'new_opening_weekend', 
                                 'runtime_in_minutes', 
                                 'new_production_cos']]

In [92]:
final_file.head()

,movie_titles,ratings,new_gross,release_date,new_opening_weekend,runtime_in_minutes,new_production_cos
0,The Devil Inside,18,53245055,6 January 2012 (USA) See more,33732515,83,"[Prototype, Room 101]"
1,Humanoids from the Deep,no rating,NaN,May 1980 (USA) See more,NaN,80,[New World Pictures]
2,Noruwei no mori,58,13068,11 December 2010 (Japan) See more,13068,133,"[Asmik Ace Entertainment, Dentsu, Fuji Televis..."
3,Contraband,51,66489425,13 January 2012 (USA) See more,24349815,109,"[Universal Pictures, Relativity Media, Working..."
4,Joyful Noise,44,30920167,13 January 2012 (USA) See more,11225190,NaN,"[Alcon Entertainment, Farrell Paura Production..."

In [ ]:
final_file.to_pickle('movies_df_2005-2015.pkl')